* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}

#root {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 12fr 1fr;
    height: 100vh;
    width: 100vw;
}

.navBar {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    gap: 0.5rem;
    padding-left: 1.5rem;
    background-color: #218C74;
    color: white;
}

.tabs {
    padding: 8px 10px;
}

#home {
    background-color: #ECF0F1;
    color: #218C74;
}

.head {
    background-color: #ECF0F1;
}

form {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 5px 0px 5px 0px;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

input[type="color"] {
    width: 0.1px;
    height: 0.1px;
    visibility: hidden;
}

input + label {
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
}

input:checked + label {
    background-color: #d3e2fd;
}

.row2 {
    display: flex;
    max-width: 60vw;
    margin: 0.5rem auto;
}

.row2 input {
    flex-grow: 1;
    padding: 1px 4px;
    margin-left: 4px;
}

.row2 .selected-cell {
    width: 80px;
    text-align: center;
    background-color: white;
    margin-right: 0.5rem;
}

.header {
    display: flex;
    width: fit-content;
    position: sticky;
    top: 0;
    background-color: #d3e1fd;
    z-index: 100;
}

.header .cell {
    min-width: 150px;
    text-align: center;
    padding: 5px 2px;
    border: 0.5px solid #c4c7c5;
    font-size: 0.8rem;
    font-weight: bold;
}

.container {
    /* height: 80vh; */
    overflow: scroll;
}

.body {
    display: grid;
    grid-template-columns: 50px auto;
    width: fit-content;
}

.sno-container {
    position: sticky;
    left: 0;
    background-color: #d3e1fd;
}

.sno-container .sno {
    border: 0.5px solid #c4c7c5;
    font-size: 0.8rem;
    font-weight: bold;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.rows-container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.row .cell {
    border: 0.5px solid #c4c7c5;
    min-width: 150px;
    min-height: 1.5rem;
}

.header .first-cell {
    min-width: 50px;
    border: 0.5px solid #c4c7c5;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d3e1fd;
}

.row .cell:focus {
    outline: none;
    height: auto;
}

.row .active-cell {
    border: 2px solid #1b72e8;
}

.foot {
    background-color: #ECF0F1;
}

.foot-form {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 50px;
}

.foot-form input + label {
    padding: 8px;
}

.foot-form input:checked + label {
    background-color: #218C74 !important;
    color: white;
}

@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: code-pro;
    src: url(./fonts/SourceCodePro-Regular.ttf);
}

@font-face {
    font-family: josefin-sans;
    src: url(./fonts/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: pacifio;
    src: url(./fonts/Pacifico-Regular.ttf);
}

